/* RESET */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/* /RESET */

/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F8F9;
    width: 100vw;
    height: 100vh;
    position: relative;
}
header {
    height: 5rem;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}
main {
    background-color: #FFFFFF;
    width: 75%;
    height: 800px;
    margin-top: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1%;
}
/* /COMMON */

/* HEADER */
#logo-image {
    margin-left: 3rem;
}   
#title {
    font-size: 45px;
}
/* /HEADER */

/* MAIN */
.buttons {
    line-height: 5rem;
    padding-left: 5rem;
    border-bottom: 2px solid #dedede;
    padding-top: 1rem;
}
.button-1{
    color: white;
    background-color: #46adf0;
    border-color: #40a8ef;
    border-radius: 10%;
    padding: 0.5%;
    width: 6rem;
}
.button-2{
    color: #9b9b9b;
    background-color: white;
    border-color: #dedede;
    border-radius: 10%;
    padding: 0.5%;
    width: 7rem;
}
/* /MAIN */