/* RESET */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/* /RESET */

/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F8F9;
    width: 100vw;
    height: 100vh;
    position: relative;
}
header {
    height: 6rem;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}
main {
    background-color: #FFFFFF;
    width: 75%;
    margin: 8rem auto;
    border-radius: 1%;
}
/* /COMMON */

/* HEADER */
#logo-image {
    margin-left: 3rem;
}   
#title {
    font-size: 45px;
}
/* /HEADER */

/* MAIN */
.buttons {
    line-height: 5rem;
    padding-left: 5rem;
    border-bottom: 1px solid #DDE1E4;
    padding-top: 1rem;
}
.button-1{
    color: white;
    background-color: #47ADF1;
    border-color: #DDE1E4;
    border-radius: 10%;
    padding: 0.5%;
    width: 6rem;
    cursor: pointer;
}
.button-2{
    color: #9b9b9b;
    background-color: white;
    border-color: #DDE1E4;
    border-radius: 10%;
    padding: 0.5%;
    width: 7rem;
    cursor: pointer;
}
/* LIST */
.container {
    margin: 5rem 5rem;
    width: 75%;
}
.task {
    padding-bottom: 5rem;}

.sub-title {
    color: #444851;
    margin-bottom: 0.5rem;
    font-weight: 500;
}
.margin-activity {
    margin-top: 1.5rem;
}
.activity {
    color: #444851;
    font-size: 16px;
    font-weight: 400;
}
.check, .uncheck {
    height: 10px;
    width: 10px;
    padding:1px 3px ;  
    border-style: solid;
    border-radius: 50%;
    border-width: 1px; 
    margin-right: 6px;
    margin-left: 4px;
    font-size: 10px;
}
.check {
    color: green;
    border-color: green;
}
.uncheck {
    color:red;
    border-color: red;
}
.label {
    color: white;
    border:none;
    border-radius: 10px;
    padding: 0.5% 1%;
    font-size: 10px;
}
.editorial {
    background-color: #45ABEA;
}
.q1-goals {
    background-color: #9C72E4;
}
.recruiting {
    background-color: #64C0A9;
}
.mobile {
    background-color: #F29E33;
}
.website {
    background-color: #D863A1;
}
.sales {
    background-color: #B0C926;
}
/* /LIST */
/* /MAIN */